.album-home {
  padding-bottom: .48rem;
  > .album-banner {
    height: 100px;
    padding-top: 14px;

    border-bottom: 1px solid #e0e0e0;
    background: url(./img/banner.jpg) no-repeat;
    background-position: 50%;
    background-size: 540px 100px;
    p {
      line-height: .26rem;

      width: 15em;
      height: .26rem;
      margin: 0 auto;

      color: #fff;
    }
    b {
      font-size: .26rem;

      vertical-align: bottom;
    }
  }
  > .no-album {
    padding-top: .5rem;

    text-align: center;
    p {
      line-height: 2;
    }
    .btn {
      margin: .5rem 0;
    }
    .help {
      margin-top: .16rem;
    }
  }
  > .create-album {
    line-height: .25rem;

    padding: .12rem 0;

    text-align: center;
    .btn {
      line-height: .25rem;

      height: .25rem;
      margin-left: .1rem;
    }
  }
  > .news-card {
    .title {
      line-height: .4rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: .4rem;
      b {
        margin: 0 .08rem 0;
        padding: .03rem .1rem;

        color: #606060;
        border-radius: .1rem;
        background-color: #e0e0e0;
      }
      i {
        font-style: normal;
      }
    }
    .photo {
      position: relative;

      display: inline-block;

      width: calc(~'33.3% - 3.3px');
      margin: 0 .05rem .05rem 0;
      padding: calc(~'16.6% - 1.6px');

      background-size: cover;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    .comment-count {
      position: absolute;
      right: .02rem;
      bottom: .02rem;
      border: 1px solid #a0a0a0;

      height: 20px;
      padding: .02rem .04rem 0 .30rem;

      color: #a0a0a0;
      border-radius: 10px;
      background-color: #fff;
      background-image: url('./img/comment.png');
      background-repeat: no-repeat;
      background-position: .10rem;
      background-size: .15rem;
    }
  }
  > .empty-album {
    margin: .3rem .075rem;

    border: 1px solid #e0e0e0;
    border-radius: .05rem;
    .head-pic {
      display: inline-block;
      float: left;

      width: 1rem;
      height: 1rem;
      margin: .1rem 0 .1rem .1rem;

      border-radius: 100%;
      background-size: cover;
    }
    .album-info {
      line-height: 1.6;

      display: inline-block;
      float: right;

      width: calc(~'100% - 1.3rem');
      margin: .1rem .1rem .1rem 0;

      vertical-align: top;
    }
    h2 {
      font-size: .15rem;

      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;

      color: #606060;
    }
    p {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;

      color: #606060;
    }
    .btn {
      margin-top: .22rem;
      padding: 0 .24rem;
    }
  }
  > .message-info {
    margin: .12rem;

    text-align: center;
    a {
      display: inline-block;
      overflow: hidden;

      max-width: 2.88rem;
      padding: .06rem .24rem;

      white-space: nowrap;
      text-overflow: ellipsis;

      color: #fff;
      border-radius: .12rem;
      background: #606060;
    }
  }
  > .loading {
    line-height: .4rem;

    height: .4rem;

    text-align: center;

    color: #999;
    &:before {
      display: inline-block;

      width: .26rem;
      height: .26rem;
      margin: .06rem auto;

      content: '\0020';
      -webkit-animation: rotate .6s linear infinite;
              animation: rotate .6s linear infinite;

      background-image: url(../../res/img/loading.png);
      background-size: cover;
    }
    &.no-more-record {
      &:before {
        display: none;
      }
    }
  }
  > .upload-guide {
    position: fixed;
    bottom: .58rem;
    left: 50%;

    padding: .08rem .3rem;

    transition: visibility 0s linear 2s;
    transform: translate(-50%, 0);
    pointer-events: none;

    color: #e4474e;
    border: 1px solid #e4474e;
    border-radius: .15rem;
    background-color: #fff;
    &:before {
      position: absolute;
      bottom: -.2rem;
      left: 50%;

      margin-left: -.1rem;

      content: '\0020';

      border: .1rem solid transparent;
      border-top-color: #e4474e;
    }
    &:after {
      position: absolute;
      bottom: -.19rem;
      left: 50%;

      margin-top: -2px;
      margin-left: -.1rem;

      content: '\0020';

      border: .1rem solid transparent;
      border-top-color: #fff;
    }
    &.auto-hide {
      visibility: hidden;
    }
  }
}
